fastapi==0.111.1
uvicorn==0.30.3
pydantic==2.8.2
supabase
google-generativeai==0.7.2
chromadb==0.4.24
python-dotenv==1.0.1
# ¡¡La corrección crítica!!
numpy==1.26.4
boto3
pyarrow
# Core Data Science & Analysis
pandas==2.2.1

# Visualization
matplotlib==3.8.3
seaborn==0.13.2

# Utilities & System
requests==2.31.0
tqdm==4.66.2
python-dotenv==1.0.1
sentry-sdk